.task {
	margin-bottom: 0.5rem;
	padding: 0.5rem;
	display: flex;
	align-items: center;
	gap: 1rem;
	border: 4px solid #B2BEC3;
	border-radius: 10px;
	text-align: left;
}

.task_title {
	font-weight: 600;
	font-size: 1.2rem;
	margin: 0.5rem 0;
	line-height: 1.5rem;
}

.task_check {
	transform: scale(1.5);
	margin: 10px;
}

.selected {
	border-color: #6C5CE7;
}

.status{
	text-decoration-line: line-through;
}

.priority0 { background-color: #ffffff; }
.priority1 { background-color: #ffd7b5; }
.priority2 { background-color: #ffb38a; }
.priority3 { background-color: #ff9248; }
.priority4 { background-color: #ff6700; }