* {
	padding: 0;
	margin: 0;
	border: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

&:before, &:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
}

:focus, :active {
	outline: none;
}

a {
	&:focus, &:active {
		outline: none;
	}
}

nav, footer, header, aside {
	display: block;
}

html, body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button, textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;

	&::-moz-focus-inner {
		padding: 0;
		border: 0;
	}
}

a {
	text-decoration: none;

	&:visited, &:hover {
		text-decoration: none;
	}
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
	margin: 1rem 0;
	border: 2px solid black;
	transition: all 0.3s ease;
}

button:hover {
	border-color: crimson;
	color: crimson;
}

.tasks {
	margin-top: 50px;
	display: flex;
	gap: 50px;
}

.task_list {
	width: 400px;
}

.task {
	margin-bottom: 0.5rem;
	padding: 0.5rem;
	display: flex;
	align-items: center;
	gap: 1rem;
	border: 4px solid grey;
	border-radius: 10px;
	text-align: left;
}

.task_title {
	font-weight: 600;
	font-size: 1.2rem;
	margin: 0.5rem 0;
	line-height: 1.5rem;
}

.task_check {
	transform: scale(1.5);
	margin: 10px;
}

.task_info {
	width: 400px;
	height: 300px;
	padding: 0.5rem;
	border: 2px solid black;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	gap: 10px;

}

.task_info_title {
	font-weight: 600;
	font-size: 1.5rem;
	color:brown;
	text-decoration: underline;
}