#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
	border: 2px solid black;
	transition: all 0.3s ease;
}

button:hover {
	border-color: crimson;
	color: crimson;
}

.task_list {
	width: 100%;
	padding: 8px;
   margin-block-end: 0;
}

.task {
	margin-top: 0.5rem;
	padding: 0.5rem;
	display: flex;
	align-items: center;
	gap: 1rem;
	border: 2px solid grey;
	border-radius: 10px;
	text-align: left;
}

.task_title {
	font-weight: 600;
	font-size: 1.2rem;
}

.task_check {
	transform: scale(1.5);
	margin: 10px;
}
