#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.task {
	margin-top: 0.5rem;
	padding: 0.5rem;
	width: 100%;
	display: flex;
	align-items: center;
	gap: 1rem;
	border: 2px solid grey;
	text-align: left;
}

.task_title {
	font-weight: 600;
	font-size: 1.2rem;
}

.task_check {
	transform: scale(1.5); /* увеличить размер */
	margin: 10px;
}
